---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">{{ content }}</div>

  <!-- Featured Post -->
  {%- assign feedType = page.feed-type -%} 
  {%- if feedType=="blog" or feedType=="podcast" or feedType =="projects"-%} 
    {%- assign displayOffset = 0 -%}
    {%- assign displayLimit = 1 -%}
    {%- assign sectionName = "featured-post" -%}
    {%- include feed.html -%} 
  {%- endif -%}

  <!-- Posts -->
  {%- assign feedType = page.feed-type -%} 
  {%- if feedType=="blog" or feedType=="podcast" or feedType =="projects" -%} 
    {%- assign displayOffset = 1 -%}
    {%- assign displayLimit = null -%}
    {%- assign sectionName = "feed" -%}
    {%- include feed.html -%} 
    <p class="rss-subscribe">subscribe <a href="{{ "/feed/" | append: feedType | append: '.xml'| relative_url }}">via RSS</a></p>
  {%- endif -%}


</article>
